@import 'func';
$primer : #ffd200;
body>header {
    margin-bottom: 50px;
    .self-info {
        height: 49px;
        background: #f1f1f1 !important;
        border-bottom: 1px solid #cacaca;
        .content {
            display: block;
            margin: 0 auto;
            width: 906px;
        }
        .item2 {
            width: 906px;
            position: relative;
            .logo {
                top: 0;
                color: transparent;
                position: static;
                float: left;
            }
            #title {
                display: inline-block;
                margin-left: 13px; 
                line-height: 49px;
                font-size: 16px;
                font-size: rem(16);
                color: #7f7f7f;
            }
        }
    }
}
#main {
    padding-bottom: 70px;
    .content{
        display: block;
        margin: 90px auto 0;
        border-top: 5px solid $primer;
        border-bottom: 9px solid $primer;
        padding-top: 15px;
        width: 906px;
        header{
            box-sizing: border-box;
            position: relative; 
            padding: 10px 24px;
            width: 100%;
            background: $primer;
            color: #907700;
            font-size: 16px;
            font-size: rem(16);
            line-height: 1.7;
        }
        header:before {
            position: absolute;
            top: 19px;
            left: 11px;
            width: 9px;
            height: 9px;
            border-radius: 50%;
            content: ''; 
            background: #907700;
        }
        ul,ol{
            position: relative;
            width: 100%;
        }
    }
}
