@charset "UTF-8";
@import '_flex';
body {
  background-color: #fff;
}  

.flex{
    display:-ms-flexbox !important; 
    display:-webkit-box !important;
    display:flexbox !important;
    display:-webkit-flex !important;
    display:flex !important;
}

.item1,
.item2 {  
  max-width: 940px;
  margin: 0 auto;
  min-width: 600px;
}

.item3 {
    min-width: auto;
}

/*.self-info .item1 > li .logout li::after {
  content: "点击退出登录";
  font-size: 8px;
  line-height: 23px;
  height: 13px;
  width: 100%;
  text-align: center;
  color: #939393;
  margin: 5px 0;
  border-top: 1px solid #deddd8;
}*/

/* !self-info */
/* banner  include search-input*/



.banner .item2 span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 17px;
  line-height: 2em;
}

.doodle {
  height: 413px;
  background-color: #f3f3f3;
}

.doodle {
    nav {
        background: #4d4d4d;
        color: #fff;
    }
    nav .nav-lists>li a {
      color: #fff;
      i{
          background-image: url(../images/nav/11.11_w.png);
      }
    }
}
.doodle nav:hover {
  >i{
      background-image: url(../images/nav/11.11_w.png);
  }
  background-color: rgba(0, 0, 0, 0.6); 
}
.doodle nav:hover .nav-lists > li > a { 
  >i{
      background-image: url(../images/nav/11.11_w.png);
  }
  color: #fff;
}  

.doodle .lists-top3 {
  padding-top: 63px;
  @include display-flex();
  @include justify-content(center);
}
.doodle .lists-top3 li {
  box-sizing: border-box;
  width: 241px;
  height: 307px;
  border: 1px solid #d8d8d8;
  margin-right: 20px;
  padding: 7px 6px;
  background-color: #fff;
  text-align: center;
}
.doodle .lists-top3 li p {
  color: #ffd200;
  font-size: 14px;
  line-height: 2;
}
.doodle .lists-top3 li p:last-child {
  color: #666;
}
.doodle .lists-top3 .detail {
  height: 237px;
  position: relative;
}
.detail>a{
    display: block;
    width: 100%;
    height: 100%;
}
.doodle .lists-top3 .detail img {
  width: 100%;
  height: 100%;
}
.doodle .lists-top3 .detail .thumbnail {
  opacity: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 10px 24px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.doodle .lists-top3 .detail .thumbnail:hover {
  opacity: 1;
}
.doodle .lists-top3 .detail .thumbnail span {
  display: block;
  font-size: 14px;
  color: #f3f3f3;
  line-height: 3;
}
.doodle .lists-top3 .detail .thumbnail span::after{
    content:attr(data-order);
    float:right;
}
.doodle .lists-top3 .detail .thumbnail span:first-child {
  border-bottom: 1px solid rgba(141, 141, 141, 0.6);
  margin-top: 50px;
}
.doodle .lists-top3 .detail .thumbnail .nothing {
  width: 100%;
  height: 18px;
  background-color: rgba(141, 141, 141, 0.6);
  margin-top: 38px;
}

.tuhao-lists {
  position: relative;
  border: 1px solid #d8d8d8;
  border-top: 3px solid #ffd200;
  top: -20px;
  background-color: #fff;
}
.content {
    display: block;
    width: auto;
}
.tuhao-lists .content {
  padding: 18px 52px;
  height: 363px;
  box-sizing: border-box;
}
.tuhao-lists .content img {
  width: 100%;
  height: 100%;
}
.tuhao-lists .content.top10 {
  box-sizing: border-box;
}
.tuhao-lists .lists-content {
  @include display-flex();
  @include justify-content(space-between);
}
.tuhao-lists p {
  font-size: 18px;
  height: 31px;
  line-height: 31px;
  padding-left: 20px;
  padding-right: 50px;
  color: #212121;
  border-bottom: 1px solid #d8d8d8;
  border-top: 1px solid #d8d8d8;
}
.tuhao-lists p .logo-toggle {
  display: inline-block;
  float: right;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: relative;
}
.tuhao-lists p .logo-toggle:before, .tuhao-lists p .logo-toggle:after {
  display: none;
  z-index: 98;
}
.tuhao-lists p .logo-toggle:hover:after {
  content: attr(data-tooltip);
  display: block;
  line-height: 1.5em;
  position: absolute;
  padding: 3px 6px;
  font-size: 12px;
  white-space: nowrap;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3px;
}
.tuhao-lists p .logo-toggle:hover:before {
  content: '';
  display: block;
  position: absolute;
  height: 0;
  width: 0;
  color: rgba(0, 0, 0, 0.6);
  left: 50%;
  margin-left: -6px;
  background-color: transparent;
  border-bottom: 6px solid rgba(0, 0, 0, 0.6);
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  top: auto;
  margin-top: 0;
  bottom: -4px;
}
.tuhao-lists p .logo-toggle:hover:after {
  bottom: -28px;
  left: 47%;
  margin-left: -20px;
}
.tuhao-lists .detail-info {
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
  @include align-items(center);
}
.tuhao-lists .detail-info .left-arrow,
.tuhao-lists .detail-info .right-arrow {
  width: 33px;
  height: 92px;
  background-color: #e5e5e5;
  @include display-flex();
  @include justify-content(center);
  @include align-items(center);
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.tuhao-lists .detail-info .left-arrow:hover,
.tuhao-lists .detail-info .right-arrow:hover {
  background-color: #b5b5b5;
}
.tuhao-lists .detail-info .chart-info {
  position: relative;
  @include align-items(center);
  @include flex(1);
  height: 281px;
  overflow: hidden;
}
.tuhao-lists .detail-info .chart-info .box {
  position: absolute;
  /*width: 4670px;*/
  @include display-flex();
}
.tuhao-lists .detail-info .chart-info .tuhao-name {
  border-top: 2px solid #d8d8d8;
}
.tuhao-lists .detail-info .chart-info .tuhao-name span:last-child {
  float: right;
}
.tuhao-lists .detail-info .chart-info .sending {
  margin-top: 46px;
}
.tuhao-lists .detail-info .chart-info .sending span {
  font-size: 15px;
}
.tuhao-lists .detail-info .chart-info .sending span:last-child {
  float: right;
}
.tuhao-lists .detail-info .card {
  width: 557px;
  height: 281px;
  @include display-flex();
  margin-left: 110px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 6px;
  background-color: #f3f3f3;
}
.tuhao-lists .detail-info .card img {
  width: 254px;
  height: 265px;
  margin-right: 35px;
}
.tuhao-lists .detail-info .card .colleges {
  display: block;
}
.tuhao-lists .detail-info .card .colleges::after {
  content: attr(data-order);
  display: inline-block;
  margin: auto 0;
  margin-left: 101px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  border-radius: 13.5px;
  background-color: #7d7d7d;
  color: #fefdfb;
  font-size: 17px;
}
.tuhao-lists .detail-info .card span {
  color: #939393;
  line-height: 3;
  font-size: 20px;
}
.tuhao-lists .detail-info .card .nothing {
  width: 100%;
  height: 18px;
  background-color: rgba(141, 141, 141, 0.6);
}
.tuhao-lists .detail-info .card-info {
  display: inline-block;
  padding-top: 20px;
  width: 234px;
}
.tuhao-lists .detail {
  width: 100%;
  height: 100%;
}
.tuhao-lists .thumbnail {
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
  position: absolute;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: left;
  padding: 10px 24px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}
.tuhao-lists .thumbnail:hover {
  opacity: 1;
}
.tuhao-lists .thumbnail .orders, .tuhao-lists .top10-lists li .detail .thumbnail .orders {
  float: left;
}
.tuhao-lists .thumbnail span {
  display: block;
  font-size: 18px;
  color: #f3f3f3;
  line-height: 3;
}
.tuhao-lists .thumbnail span:first-child {
  border-bottom: 1px solid rgba(141, 141, 141, 0.6);
  margin-top: 50px;
}
.tuhao-lists .thumbnail span:last-child {
  float: right;
}
.tuhao-lists .thumbnail .nothing {
  width: 100%;
  height: 18px;
  background-color: rgba(141, 141, 141, 0.6);
  margin-top: 60px;
}
.tuhao-lists .first {
  width: 312px;
  height: 327px;
  box-sizing: border-box;
  padding: 6px;
  background-color: #d7d7d7;
  border: 1px solid #d8d8d8;
  display: inline-block;
}
.tuhao-lists .first .detail {
  height: 100%;
  position: relative;
}
.tuhao-lists .first .detail img {
  width: 100%;
  height: 100%;
}
.tuhao-lists .second {
  width: 274px;
  height: 210px;
}
.tuhao-lists .second .detail {
  width: 190px;
  height: 200px;
  padding: 4px;
  background-color: #d7d7d7;
  border: 1px solid #d8d8d8;
  display: inline-block;
}
.tuhao-lists .second .detail .thumbnail {
  width: 190px;
  height: 200px;
}
.tuhao-lists .second .detail .thumbnail span {
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.tuhao-lists .second .detail .thumbnail span:first-child {
  margin-top: 38px;
}
.tuhao-lists .second .detail .nothing {
  margin-top: 6px;
}
.tuhao-lists .second .deadline {
  position: relative;
  width: 65px;
  float: right;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  padding: 12px 9px;
  background-color: #1a1a1a;
}
.tuhao-lists .second .deadline span {
  display: inline-block;
  color: #d7d7d7;
}
.tuhao-lists .second .deadline .end,
.tuhao-lists .second .deadline .month-chart {
  width: 1em;
  letter-spacing: 40px;
}
.tuhao-lists .second .deadline .month-chart {
  display: inline-block;
  height: 100%;
  padding-left: 4px;
  border-left: 1px solid #d8d8d8;
}
.tuhao-lists .second .deadline .end {
  position: relative;
  bottom: -58px;
}
.tuhao-lists .second .deadline .date {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 90px;
  position: absolute;
  bottom: 47px;
  left: -28px;
}
.tuhao-lists .third {
  position: relative;
  bottom: -13px;
  width: 274px;
  height: 104px; 
  @include display-flex();
  @include justify-content(space-between);
}
.tuhao-lists .third .decoration {
  width: 162px;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  background-color: #ffd200;
}
.tuhao-lists .third .detail {
  height: 94px;
  width: 90px;
}
.tuhao-lists .third .detail .thumbnail {
  height: 94px;
  width: 90px;
  padding: 4px;
}
.tuhao-lists .third .detail .thumbnail span {
  font-size: 12px;
  line-height: 1.5;
}
.tuhao-lists .third .detail .thumbnail span:first-child {
  margin-top: 10px;
}
.tuhao-lists .third .detail .nothing {
  height: 12px;
}
.tuhao-lists .right-part {
  @include display-flex();
  -webkit-flex-direction: column;
  flex-direction: column;
}
.tuhao-lists .right-part img {
  width: 100%;
  height: 100%;
}
.tuhao-lists .fourth {
  width: 222px;
  @include display-flex();
  @include justify-content(space-between);
}
.tuhao-lists .fourth .detail {
  width: 91px;
  height: 94px;
  padding: 4px;
  background-color: #d7d7d7;
  border: 1px solid #d8d8d8;
}
.tuhao-lists .fourth .detail .thumbnail {
  width: 91px;
  height: 94px;
  padding: 4px;
}
.tuhao-lists .fourth .detail .thumbnail span {
  font-size: 12px;
  line-height: 1.5;
}
.tuhao-lists .fourth .detail .thumbnail span:first-child {
  margin-top: 10px;
}
.tuhao-lists .fourth .detail .nothing {
  height: 12px;
  margin-top: 10px;
}
.tuhao-lists .fourth .decoration {
  background-color: #767676;
  width: 105px;
}
.tuhao-lists .fifth {
  width: 212px;
  height: 203px;
  @include flex(1);
  margin-top: 10px;
}
.tuhao-lists .fifth.detail {
  padding: 4px;
  background-color: #d7d7d7;
  border: 1px solid #d8d8d8;
  position: relative;
}
.tuhao-lists .fifth.detail .thumbnail {
  height: 96%;
  width: 96%;
  padding: 20px;
}
.tuhao-lists .fifth.detail .thumbnail span {
  font-size: 16px;
  line-height: 1.5;
}
.tuhao-lists .fifth.detail .thumbnail span:first-child {
  margin-top: 50px;
}
.tuhao-lists .fifth.detail .nothing {
  height: 12px;
  margin-top: 40px;
}
.tuhao-lists .top10-lists li {
  position: relative;
  width: 155px;
  height: 158px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid #d8d8d8;
  margin-top: 8px;
  margin-right: 8px;
  padding: 3px;
  background-color: #d8d8d8;
}
.tuhao-lists .top10-lists li .detail {
  position: relative;
}
.tuhao-lists .top10-lists li .detail .thumbnail {
  padding: 9px;
}
.tuhao-lists .top10-lists li .detail span {
  font-size: 14px;
  line-height: 1.8;
}
.tuhao-lists .top10-lists li .detail span:first-child {
  margin-top: 32px;
}
.tuhao-lists .top10-lists li .nothing {
  height: 12px;
  margin-top: 15px;
}
