@charset "utf-8";

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset",
"icon",
"self-defined",
"compass/css3/flexbox";
$theme-color:#ffd200;
$hover-color:#692d31;
$about-more-color:#f6bd4e;
$tuhao-chart:#f3f3f3;
$border-color:#d8d8d8;
$font-color:#212121;
$font: "Microsoft YaHei",
"Arial",
"黑体",
"宋体",
sans-serif;

/* set the min-width*/

body {
    font-family: $font;
    background-color: #fff;
}


/* remove the default style of tag-a */

@include a-reset;
.item1,
.item2 {
    max-width: 940px;
    margin: 0 auto;
    min-width: 600px;
}

.item3 {
    width: 940px;
    margin: 0 auto;
}

.article-active {
    display: block !important;
}


/* self-info include myrelease & mysending & personal infomation */

.self-info {
    background: url(../images/self-bg.jpg) repeat-x;
    height: 47px;
    .item1 {
        @include display-flex(flex);
        @include justify-content(flex-end);
        >li {
            position: relative;
            display: inline-block;
            color: #fff;
            height: 47px;
            line-height: 47px;
            margin: 0 15px;
            cursor: pointer;
            a {
                color: #fff;
            }
            .sending-table {
                position: absolute;
                z-index: 2;
                border-top: 4px solid $theme-color;
                display: none;
                >li {
                    width: 82px;
                    height: 32px;
                    color: #000;
                    font-size: 16px;
                    line-height: 32px;
                    text-align: center;
                    cursor: pointer;
                    background-color: #f8f8f8;
                    -webkit-transition: all .1s ease-in-out;
                    -o-transition: all .1s ease-in-out;
                    transition: all .1s ease-in-out;
                    &:hover {
                        background-color: #e4e4e4;
                    }
                }
            }
        }
        li:last-child {
            margin-right: -40px;
        }
        /* register and signin-btn */
        .logo-down-arrow {
            display: inline-block;
            margin-left: 2px;
        }
        .logo-self-info {
            padding: 5px;
            background-color: $theme-color;
            display: inline-block;
            vertical-align: middle;
            background-origin: content-box;
            border-radius: 3px;
            cursor: pointer;
            margin-left: 8px;
            /* 提示符 */
            /*@include hui_tooltip(attr(data-tooltip),bottom);*/
        }
        /* register and signin-btn */
    }
}

.banner {
    height: 65px;
    .item2 {
        /* iSend icon */
        position: relative;
        .logo {
            position: absolute;
            top: -47px;
            background-color: $theme-color;
            width: 159px;
            height: 96px;
            text-align: center;
            box-sizing: border-box;
            padding: 12px;
            cursor: default;
        }
        .search {
            @include display-flex(flex);
            @include justify-content(flex-end);
            height: 65px;
            @include align-items(center);
            /* seach-input */
            input {
                height: 30px;
                width: 214px;
                border: 1px solid $theme-color;
                box-sizing: border-box;
                @include search_default();
                font-family: $font;
                font-size: 17px;
                color: #4e4e4e;
            }
            /* search-input */
            i {
                background-origin: content-box;
                padding: 4px;
                background-color: $theme-color;
                cursor: pointer;
            }
        }
        h1 {
            display: inline-block;
            font-size: 45px;
            color: #fff;
            @include truncateText();
        }
        span {
            display: inline-block;
            @include truncateText();
            font-size: 17px;
            line-height: 2em;
        }
    }
}

.doodle {
    height: 413px;
    background-color: #f3f3f3;
    position: relative;
    nav {
        position: absolute;
        z-index: 20;
        width: 100%;
        color: $font-color;
        background-color: rgba(255, 255, 255, 0.4);
        -webkit-transition: background-color .5s ease-in-out;
        -o-transition: background-color .5s ease-in-out;
        transition: background-color .5s ease-in-out;
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
            .nav-lists > li > a {
                color: #fff;
            }
        }
        .nav-lists {
            position: relative;
            @include display-flex(flex);
            width: 940px;
            margin: 0 auto;
            > li {
                @include flex(1);
                text-align: center;
                font-size: 17px;
                height: 46px;
                line-height: 46px;
                margin-right: -2px;
                cursor: pointer;
                -webkit-transition-duration: .3s;
                -o-transition-duration: .3s;
                transition-duration: .3s;
                &:hover {
                    a {
                        color: $theme-color;
                    }
                }
            }
            article {
                position: absolute;
                width: 100%;
                top: 39px;
                left: 0;
                border-top: 4px solid #000;
                background-color: #fff;
                display: none;
                box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.3);
                .progress-bar {
                    position: absolute;
                    width: 0;
                    height: 4px;
                    top: -4px;
                    left: 0;
                    float: left;
                    background-color: $theme-color;
                }
                .aside-nav {
                    display: inline-block;
                    width: 184px;
                    float: left;
                    margin-right: -3px;
                    a {
                        color: $font-color;
                    }
                    li {
                        -webkit-transition: .2s;
                        -o-transition: .2s;
                        transition: .2s;
                        text-align: left;
                        padding-left: 30px;
                        &:hover {
                            background-color: $tuhao-chart;
                        }
                    }
                }
                .nav-content {
                    @include display-flex(flex);
                    height: 100%;
                    div {
                        @include flex(1);
                        margin-left: 1px;
                        .thumbnail {
                            height: 175px;
                            width: 251px;
                            overflow: hidden;
                        }
                        img {
                            height: 100%;
                            width: 100%;
                            -webkit-transition-duration: 1s;
                            -o-transition-duration: 1s;
                            transition-duration: 1s;
                            &:hover {
                                -webkit-transform: scale(1.2);
                                -ms-transform: scale(1.2);
                                -o-transform: scale(1.2);
                                transform: scale(1.2);
                            }
                        }
                        h3 {
                            font-size: 18px;
                            color: #692d31;
                            line-height: 2em;
                        }
                        p {
                            font-size: 15px;
                            color: #656565;
                            line-height: 1.5em;
                            margin-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .nav-fixed-top {
        background-color: #000;
        position: fixed;
        top: 0;
        .nav-lists > li > a {
            color: #fff;
        }
        &:hover {
            background-color: #000;
            .nav-lists > li > a {
                color: #fff;
            }
        }
    }
    .lists-top3 {
        padding-top: 63px;
        @include display-flex(flex);
        @include justify-content(center);
        li {
            box-sizing: border-box;
            width: 241px;
            height: 307px;
            border: 1px solid $border-color;
            margin-right: 20px;
            padding: 7px 6px;
            background-color: #fff;
            text-align: center;
            p {
                color: $theme-color;
                font-size: 14px;
                line-height: 2;
            }
            p:last-child {
                color: #666;
            }
        }
        .detail {
            height: 237px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
            .thumbnail {
                &:hover {
                    opacity: 1;
                }
                opacity: 0;
                width: 100%;
                height: 100%;
                box-sizing: border-box;
                position: absolute;
                z-index: 4;
                background-color: rgba(0, 0, 0, 0.7);
                text-align: left;
                padding: 10px 24px;
                -webkit-transition: opacity .5s;
                -o-transition: opacity .5s;
                transition: opacity .5s;
                span {
                    display: block;
                    font-size: 14px;
                    color: #f3f3f3;
                    line-height: 3;
                }
                span:first-child {
                    border-bottom: 1px solid rgba(141, 141, 141, 0.6);
                    margin-top: 50px;
                }
                .nothing {
                    width: 100%;
                    height: 18px;
                    background-color: rgba(141, 141, 141, 0.6);
                    margin-top: 38px;
                }
            }
        }
    }
}

.tuhao-lists {
    position: relative;
    border: 1px solid $border-color;
    border-top: 3px solid $theme-color;
    top: -20px;
    background-color: #fff;
    .content {
        padding: 18px 52px;
        height: 363px;
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
        }
        &.top10 {
            box-sizing: content-box;
            height: 338px;
        }
    }
    .lists-content {
        @include display-flex(flex);
        @include justify-content(space-between);
    }
    p {
        font-size: 18px;
        height: 31px;
        line-height: 31px;
        padding-left: 20px;
        padding-right: 50px;
        color: #212121;
        border-bottom: 1px solid #d8d8d8;
        border-top: 1px solid #d8d8d8;
        .logo-toggle {
            display: inline-block;            
            float: right;
            top: 50%;
            transform: translate(-50%, -50%);
            cursor: pointer;
            @include hui_tooltip();            
        }
    }
    //detial-info top5和top10的详细信息列表
    
    .detail-info {
        position: relative;
        width: 100%;
        height: 100%;
        display: none;
        @include align-items(center);
        .left-arrow,
        .right-arrow {
            width: 33px;
            height: 92px;
            background-color: #e5e5e5;
            @include display-flex(flex);
            @include justify-content(center);
            @include align-items(center);
            border-radius: 4px;
            cursor: pointer;
            -webkit-transition: .5s;
            -o-transition: .5s;
            transition: .5s;
            &:hover {
                background-color: #b5b5b5;
            }
        }
        .chart-info {
            position: relative;            
            @include align-items(center);
            @include flex(1);
            height: 281px;
            overflow: hidden;
            .box{
                position: absolute;
                width: 4670px;
                @include display-flex(flex);
            }
            .tuhao-name {
                border-top: 2px solid #d8d8d8;
                span:last-child {
                    float: right;
                }
            }
            .sending {
                margin-top: 46px;
                span {
                    font-size: 15px;
                }
                span:last-child {
                    float: right;
                }
            }
        }
        .card {
            width: 557px;
            height: 281px;
            @include display-flex(flex);
            margin-left: 110px;
            box-sizing: border-box;
            border: 1px solid $border-color;
            padding: 6px;
            background-color: $tuhao-chart;
            img {
                width: 254px;
                height: 265px;
                margin-right: 35px;
            }
            span {
                color: #939393;
                line-height: 3;
                font-size: 20px;
            }
            .nothing {
                width: 100%;
                height: 18px;
                background-color: rgba(141, 141, 141, 0.6);
            }
        }
        .card-info {
            display: inline-block;
            padding-top: 20px;
            width: 234px;
        }
    }
    //top-5-lists 的内容
    .detail {
        width: 100%;
        height: 100%;
    }
    .thumbnail {
        &:hover {
            opacity: 1;
        }
        opacity: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        box-sizing: border-box;
        position: absolute;
        z-index: 4;
        background-color: rgba(0, 0, 0, 0.7);
        text-align: left;
        padding: 10px 24px;
        -webkit-transition: opacity .5s;
        -o-transition: opacity .5s;
        transition: opacity .5s;
        span {
            display: block;
            font-size: 18px;
            color: #f3f3f3;
            line-height: 3;
        }
        span:first-child {
            border-bottom: 1px solid rgba(141, 141, 141, 0.6);
            margin-top: 50px;
        }
        span:last-child {
            float: right;
        }
        .nothing {
            width: 100%;
            height: 18px;
            background-color: rgba(141, 141, 141, 0.6);
            margin-top: 60px;
        }
    }
    .first {
        width: 312px;
        height: 327px;
        box-sizing: border-box;
        padding: 6px;
        background-color: $tuhao-chart;
        border: 1px solid $border-color;
        display: inline-block;
        .detail {
            height: 100%;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    .second {
        width: 274px;
        height: 210px;
        .detail {
            width: 190px;
            height: 200px;
            padding: 4px;
            background-color: $tuhao-chart;
            border: 1px solid $border-color;
            .thumbnail {
                width: 190px;
                height: 200px;
                span {
                    font-size: 15px;
                    @include truncateText;

                }
                span:first-child {
                    margin-top: 38px;
                }
            }
            .nothing {
                margin-top: 6px;
            }
            display: inline-block;
        }
        .deadline {
            position: relative;
            width: 65px;
            float: right;
            height: 100%;
            box-sizing: border-box;
            border: 1px solid $border-color;
            padding: 12px 9px;
            background-color: #1a1a1a;
            span {
                display: inline-block;
                color: $tuhao-chart;
            }
            .end,
            .month-chart {
                width: 1em;
                letter-spacing: 40px;
            }
            .month-chart {
                display: inline-block;
                height: 100%;
                padding-left: 4px;
                border-left: 1px solid $border-color;
            }
            .end {
                position: relative;
                bottom: -58px;
            }
            .date {
                -webkit-transform: rotate(90deg);
                -ms-transform: rotate(90deg);
                -o-transform: rotate(90deg);
                transform: rotate(90deg);
                width: 90px;
                position: absolute;
                bottom: 47px;
                left: -28px;
            }
        }
    }
    .third {
        position: relative;
        bottom: -13px;
        width: 274px;
        height: 104px;
        @include display-flex(flex);
        @include justify-content(space-between);
        .decoration {
            width: 162px;
            box-sizing: border-box;
            border: 1px solid $border-color;
            background-color: $theme-color;
        }
        .detail {
            height: 94px;
            width: 90px;
            .thumbnail {
                height: 94px;
                width: 90px;
                padding: 4px;
                span {
                    font-size: 12px;
                    line-height: 1.5;
                }
                span:first-child {
                    margin-top: 10px;
                }
            }
            .nothing {
                height: 12px;
            }
        }
    }
    .right-part {
        @include display-flex(flex);
        @include flex-direction(column);
        img {
            width: 100%;
            height: 100%;
        }
    }
    .fourth {
        width: 222px;
        @include display-flex(flex);
        @include justify-content(space-between);
        .detail {
            width: 91px;
            height: 94px;
            padding: 4px;
            background-color: $tuhao-chart;
            border: 1px solid $border-color;
            .thumbnail {
                width: 91px;
                height: 94px;
                padding: 4px;
                span {
                    font-size: 12px;
                    line-height: 1.5;
                }
                span:first-child {
                    margin-top: 10px;
                }
            }
            .nothing {
                height: 12px;
                margin-top: 10px;
            }
        }
        .decoration {
            background-color: #767676;
            width: 105px;
        }
    }
    .fifth {
        width: 212px;
        height: 203px;
        @include flex(1);
        margin-top: 10px;
        &.detail {
            padding: 4px;
            background-color: $tuhao-chart;
            border: 1px solid $border-color;
            position: relative;
            .thumbnail {
                height: 96%;
                width: 96%;
                padding: 20px;
                span {
                    font-size: 16px;
                    line-height: 1.5;
                }
                span:first-child {
                    margin-top: 50px;
                }
            }
            .nothing {
                height: 12px;
                margin-top: 40px;
            }
        }
    }
    //top-10-lists 的内容
    .top10-lists {
        li {
            position: relative;
            width: 155px;
            height: 158px;
            display: inline-block;
            box-sizing: border-box;
            border: 1px solid #d8d8d8;
            margin-top: 8px;
            margin-right: 8px;
            padding: 3px;
            background-color: #d8d8d8;
            .detail {
                position: relative;
                .thumbnail {
                    padding: 9px;
                }
                span {
                    font-size: 16px;
                    line-height: 1.5;
                }
                span:first-child {
                    margin-top: 32px;
                }
            }
            .nothing {
                height: 12px;
                margin-top: 15px;
            }
        }
    }
}

// footer 底部内容
footer {
    margin-top: 45px;
    height: 180px;
    background-color: #282828;
}


/* 登录注册框  */

.modal-title {
    position: absolute;
    top: -20px;
    @include display-flex(flex);
    width: 100%;
    span {
        border-top: 1px solid #B6B2B2;
        @include flex(1);
        display: inline-block;
        @include align-self(center);
    }
}

.login-modal,
.signin-modal,
.info-modal {
    width: 392px;
    border: 1px solid #B6B2B2;
    border-top: 0px;
    display: none;
    position: relative;
}

.for-login,
.for-signin {
    height: 40px;
    text-align: center;
    border-top: 1px solid #B6B2B2;
    a {
        line-height: 40px;
        height: 40px;
        color: $theme-color;
        text-decoration: underline;
    }
}

.login-modal h3,
.signin-modal h3,
.info-modal h3 {
    font-size: 27px;
    line-height: 1.5em;
    color: #edebee;
    width: 168px;
    @include flex(1.5);
    text-align: center;
}

.login-modal ul,
.signin-modal ul,
.info-modal ul {
    padding: 41px 41px 20px;
    p {
        line-height: 20px;
        margin: 10px 0;
        color: #edebee;
        label,
        input {
            cursor: pointer
        }
        .agreement {
            color: #3B55F7;
            text-decoration: underline;
        }
        .forgetps-btn {
            float: right;
            color: #edebee;
        }
    }
}

.login-modal>ul li,
.signin-modal>ul li,
.info-modal>ul li {
    width: 310px;
    height: 52px;
    text-align: center;
    font-size: 25px;
    line-height: 61px;
    position: relative;
}

.login-modal li input,
.login-modal li button,
.signin-modal li input,
.signin-modal li button,
.info-modal li input,
.info-modal li button {
    width: 100%;
    height: 100%;
    font-size: 25px;
    line-height: 52px;
    text-align: center;
    background-color: #edebee;
    border: 0;
    outline: none;
    color: $font-color;
}


/*取消的默认样式*/

.signin-modal>ul li[role="input"] {
    margin-bottom: 6px;
}

.login-modal>ul li[role="input"] {
    margin-bottom: 6px;
}

.info-modal>ul li[role="input"] {
    margin-bottom: 6px;
}


/*取消的默认样式*/

.login-modal li button,
.signin-modal li button,
.info-modal li button {
    background-color: #ffd200;
    font-size: 26px;
    color: #070707;
    cursor: pointer;
    font-weight: bold;
}


/*提示框*/

.login-modal>ul span,
.signin-modal>ul span,
.info-modal>ul span {
    line-height: 15px;
    font-size: 14px;
    color: #ffd200;
    display: inline-block;
    width: 100%;
    text-align: center;
}


/*登录框*/
