html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

elements-of-type(html5-block) {
  display: block; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.eot") format("embedded-opentype"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff"), url("../fonts/icomoon.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'tuhao';
  src: url("../fonts/tuhao.eot");
  src: url("../fonts/tuhao.eot?#font-spider") format("embedded-opentype"), url("../fonts/tuhao.ttf") format("truetype"), url("../fonts/tuhao.woff") format("woff"), url("../fonts/tuhao.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

html,
body {
  font-family: "tuhao", Arial; }

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent; }

input {
  outline: 0;
  color: inherit; }

input[type="text"],
input[type="password"],
textarea,
select,
button {
  -webkit-appearance: none;
  border-radius: 0; }

html {
  height: 100%; }

body {
  position: relative;
  min-height: 100%; }

.tuhao-header {
  height: 45px;
  background-color: #434343;
  padding: 0 12px; }

.fix-top {
  padding-top: 45px; }
  .fix-top .tuhao-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
    -webkit-animation: slidedown 0.5s;
    -moz-animation: slidedown 0.5s;
    -ms-animation: slidedown 0.5s;
    -o-animation: slidedown 0.5s;
    animation: slidedown 0.5s; }
  .fix-top .search-tab {
    position: fixed;
    width: 100%;
    top: 45px;
    left: 0;
    z-index: 2;
    -webkit-animation: slidedown 0.5s;
    -moz-animation: slidedown 0.5s;
    -ms-animation: slidedown 0.5s;
    -o-animation: slidedown 0.5s;
    animation: slidedown 0.5s;
    border-bottom: 1px solid #f1f1f1; }

@-moz-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes slidedown {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slidedown {
  0% {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    transform: translateY(-45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-moz-keyframes slideup {
  0% {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-webkit-keyframes slideup {
  0% {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-o-keyframes slideup {
  0% {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@-ms-keyframes slideup {
  0% {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

@keyframes slideup {
  0% {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -ms-transform: translateY(45px);
    -o-transform: translateY(45px);
    transform: translateY(45px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0); } }

.search .origin-show {
  display: none; }

.search .search-show {
  display: block; }

.hide-mask .mask-layer {
  display: none; }

.show-mask .mask-layer {
  display: block; }

.origin-show {
  position: relative;
  height: 100%; }
  .origin-show > a {
    position: absolute;
    left: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .origin-show > a > img {
      display: inline-block;
      width: 80px;
      height: auto; }

.list-button {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0; }
  .list-button > a {
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle; }
    .list-button > a img {
      width: 18px;
      height: auto; }
    .list-button > a:nth-last-of-type(1) {
      margin-right: 0; }

#user_info img {
  width: 20px; }

#logout {
  margin-top: 4px; }
  #logout::before {
    content: '\e90c';
    font-family: 'icomoon';
    font-size: 18px;
    color: #feda30; }

.mask-layer {
  display: none;
  position: fixed;
  width: 100%;
  top: 45px;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5; }

.search-show {
  display: none;
  height: 100%;
  background-color: #434343;
  font-size: 0; }
  .search-show > a {
    display: inline-block;
    font-size: 14px;
    line-height: 45px;
    color: #fff;
    vertical-align: middle; }

.icon::before {
  font-family: 'icomoon'; }

.search-frame {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-left: 5%;
  margin-right: 5%;
  width: 80%; }
  .search-frame > i {
    position: absolute; }
  .search-frame > input {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 29px;
    width: 100%;
    height: 29px;
    padding: 0 15px 0 24px;
    border: none;
    border-radius: 0;
    font-size: 14px; }

.goods-category-input .search-frame > input {
  color: #878787; }

.search-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .search-icon::before {
    content: '\e904';
    font-size: 14px;
    color: #ccc; }

.empty-icon {
  display: none;
  position: absolute;
  right: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .empty-icon::before {
    content: '\e903';
    font-size: 12px;
    color: #ccc; }
  .empty-icon.show-empty {
    display: block; }

.end-line {
  display: none;
  width: 95%;
  position: relative;
  margin: 15px auto;
  border-top: 1px solid #999; }
  .end-line span {
    position: absolute;
    padding: 5px;
    background-color: #f5f5f5;
    font-size: 14px;
    color: #616161;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.show-end-line {
  display: block; }

#issue-button {
  position: fixed;
  width: 48px;
  height: 48px;
  right: 20px;
  bottom: 20px;
  z-index: 10; }
  #issue-button img {
    width: 100%;
    height: auto; }

.more-loading {
  display: none;
  height: 30px;
  padding-bottom: 10px;
  text-align: center; }
  .more-loading img {
    height: 30px;
    width: auto; }

.show-more-loading {
  display: block; }

.disabled {
  opacity: 0.7; }

.mes-hint {
  position: absolute;
  display: none;
  width: 80%;
  padding: 8% 5%;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background-color: #999;
  color: #fff; }

.mes-content {
  font-size: 16px;
  text-align: center;
  line-height: 1.5; }

.show-mes {
  display: block; }

body {
  background-color: #f5f5f5; }

main {
  display: block; }

.mes-hint {
  position: fixed; }

.tuhao-rank {
  font-size: 14px;
  background-color: #fff; }
  .tuhao-rank.rank-show .rank-title {
    color: #f5ca49; }
  .tuhao-rank.rank-show .feedback-icon::before {
    content: '\e901'; }
  .tuhao-rank.rank-show .rank-list-frame {
    display: block; }

.rank-title {
  position: relative;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #878787;
  padding: 0 12px;
  border-bottom: 1px solid #efefef; }

.icon::before {
  display: inline-block;
  font-family: 'icomoon'; }

.feedback-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .feedback-icon::before {
    content: '\e900';
    font-size: 10px; }

.specific-icon {
  position: absolute;
  right: 0;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .specific-icon::before {
    content: '\e902';
    font-size: 10px; }

.rank-list-frame {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 10px 12px;
  border-bottom: 1px solid #efefef;
  display: none; }

.rank-list {
  font-size: 0;
  min-width: 460px; }
  .rank-list li {
    position: relative;
    display: inline-block;
    border: 1px solid #efefef;
    margin-right: 5px;
    font-size: 0; }
    .rank-list li > img {
      vertical-align: top;
      display: inline-block;
      width: auto;
      height: 65px; }

.rank-name {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 15px; }

.user-info {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: 80px;
  height: 65px;
  font-size: 12px; }
  .user-info > p {
    line-height: 1.2;
    text-indent: 5px;
    width: 70px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .user-info .user-sent {
    width: 100%; }

.username {
  font-size: 14px; }

.user-sent {
  position: absolute;
  bottom: 0;
  padding: 3px 0;
  border-top: 1px solid #efefef; }

.goods-category {
  display: table;
  width: 95%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px auto;
  padding: 10px;
  background-color: #fff; }

.category-row {
  display: table-row; }

.category-cell {
  display: table-cell;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 25%;
  padding: 10px;
  background-color: #f6f6f6; }
  .category-cell p {
    text-align: center;
    font-size: 12px;
    color: #999999; }
    .category-cell p:nth-of-type(1) {
      height: 30px;
      margin-bottom: 8px; }
  .category-cell img {
    width: auto;
    height: 100%; }

.goods-show {
  width: 95%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  font-size: 0; }

.goods-info {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 49%;
  padding: 10px;
  background-color: #fff;
  display: inline-block;
  font-size: 14px;
  margin-bottom: 2%; }
  .goods-info:nth-of-type(odd) {
    margin-right: 1%; }
  .goods-info:nth-of-type(even) {
    margin-left: 1%; }

.goods-thumb {
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  background-color: #f5f5f5;
  overflow: hidden; }
  .goods-thumb img {
    position: absolute;
    max-height: 100%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  .goods-thumb p {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 2px 0;
    background-color: #f5ca49;
    color: #fff;
    font-size: 14px;
    text-align: center;
    line-height: 1.2; }

.goods-content {
  margin-top: 10px;
  font-size: 0; }
  .goods-content span {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #686767;
    font-size: 14px; }

.goods-name {
  width: 55%; }

.goods-master {
  float: right;
  width: 40%;
  text-align: right; }
