@import 'compass/css3';

.mes-hint {
    position: absolute;
    display: none;
    width: 80%;
    padding: 8% 5%;
    top: 45%;
    left: 50%;
    @include translate(-50%, -50%);
    border-radius: 5px;
    background-color: #999;
    color: #fff;
}

.mes-content {
    font-size: $bigSize;
    text-align: center;
    line-height: 1.5;
}

.show-mes {
    display: block;
}